#mainTitle{
    text-align: center;
    font-weight: bolder;
    color: gray;
}
#day{
    color: gray;
    text-align: center;
}
#temp{
    color: gray;
    text-align: center;
}
.wCards{margin-top: 5%;}